* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;800;900&display=swap");
$secondary-gray-color: #848e99;
$secondary-color: #ff8a00;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
body {
    font-family: "Manrope", sans-serif;
}
img {
    width: 100%;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
nav {
    background-color: #182469;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 10%;
    align-items: center;
    .left {
        display: flex;
        align-items: center;
        h1 {
            margin-right: 30px;
        }
        ul {
            display: flex;
            list-style: none;
            align-items: center;
            font-size: 14px;
            li {
                margin: 0 20px;
                opacity: 0.7;
            }
            .active {
                opacity: 1;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    background-color: $secondary-color;
                    height: 2px;
                    width: 50%;
                    bottom: -2px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 5px;
                }
            }
        }
    }
    button {
        background-color: white;
        border: none;
        color: #182469;
        padding: 10px 30px;
        font-weight: bold;
        border-radius: 2px;
        font-size: 14px;
        font-weight: 600;
    }
}
section {
    background-color: #182469;
}
.main-section {
    background-color: #182469;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 0%;
    gap: 50px;
    max-width: 1170px;
    margin: 0 auto;
    .left {
        padding: 50px 0;
        display: flex;
        height: 100%;
        flex-direction: column;
        .main-text {
            height: 100%;
            h1 {
                font-size: 56px;
                font-weight: 600;
                span {
                    position: relative;
                    &::before {
                        content: "";
                        height: 5px;
                        width: 100%;
                        background-color: #ff8a00;
                        position: absolute;
                        bottom: 5px;
                        z-index: 0;
                        border-radius: 10px;
                    }
                }
            }
            p {
                margin: 30px 0;
                font-weight: 600;
                font-size: 18px;
            }
        }
        p {
            font-size: 14px;
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }
    .right {
        // padding: 0 50px;
        position: relative;
        .side {
            position: absolute;
            width: 5%;
            display: none;
        }
        .side1 {
            display: block;
            left: 6%;
            z-index: 1;
            top: 20px;
        }
        .side2 {
            display: block;
            left: 6%;
            z-index: 1;
            bottom: 20px;
        }
        .side3 {
            display: block;
            right: 6%;
            z-index: 1;
            top: 20px;
        }
        .side4 {
            display: block;
            right: 6%;
            z-index: 1;
            bottom: 20px;
        }
        .form {
            position: relative;
            z-index: 5;
            background-color: white;
            color: black;
            padding: 30px;
            border-radius: 10px;
            width: 80%;
            margin: 0 auto;
            h1 {
                font-weight: 600;
            }
            p {
                font-size: 14px;
                color: $secondary-gray-color;
                font-weight: 500;
                margin: 10px 0;
            }
            form {
                .form-card {
                    display: flex;
                    margin: 30px 0;
                    flex-direction: column;
                    label {
                        font-weight: 600;
                        font-size: 14px;
                        margin: 5px 0;
                    }
                    input {
                        padding: 10px 10px;
                        border-radius: 8px;
                        border: 1px solid $secondary-gray-color;
                        font-size: 16px;
                    }
                    .radio-buttons {
                        display: flex;
                        gap: 20px;
                        .radio-button {
                            width: 100%;
                            label {
                                gap: 10px;
                                border: 2px solid #7c7c7c;
                                padding: 10px;
                                border-radius: 10px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                gap: 5px;
                                i {
                                    font-size: 18px;
                                }
                            }
                            input[type="radio"] {
                                display: none;
                                opacity: 0;
                            }
                            input[type="radio"]:checked + label {
                                border-color: $secondary-color;
                                color: $secondary-color;
                            }
                        }
                    }
                }
                .form-button {
                    width: 100%;
                    margin: 20px 0;
                    button {
                        background-color: #ff8a00;
                        padding: 15px;
                        width: 100%;
                        color: white;
                        font-weight: 600;
                        font-size: 14px;
                        border: none;
                        border-radius: 8px;
                    }
                }
            }
            .newletter {
                font-size: 13px;
                display: flex;
                align-items: center;
                gap: 10px;
                input:checked {
                    accent-color: $secondary-color;
                    color: white;
                }
            }
        }
    }
}
.second {
    .main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 50px;
        margin: 100px 0;
        align-items: center;
        .left {
            h1 {
                font-size: 32px;
                font-weight: 600;
                span.c {
                    color: $secondary-color;
                }
                span.l {
                    color: $secondary-color;
                }
            }
            p {
                margin: 32px 0;
                color: #000100;
                opacity: 0.5;
                font-size: 18px;
            }
        }
    }
}
